@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor-verde: #007366;
    --cor-verdeClaro: #19A797;
    --cor-branca: #ffffff;
    --cor-background: #f2f2f2;
    --cor-preta: #151515;
    --cor-apoio: #474c55;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font: 16px;
    font-weight: 400;
}

i{
    font-size: 24px;
}


/*configuração Sidebar*/

.sidebar{
    position: fixed ;
    top: 0;
    left: 0;
    bottom: 0;
    min-height: 100vw;
    background-color: var(--cor-verde);
    padding: 20px;
    overflow-y: auto;
    z-index: 999;
    width: 20%;
}

.menu{
    list-style: none;
    margin: 40% auto;
}

.menu a {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--cor-branca);
    gap: 20px;
}

.menu a:hover{
    background-color: var(--cor-branca);
    color: var(--cor-verde);
}

#seta{
    position: absolute;
    left: 80%;
}


/*Sidebar Mobile*/

.button-mobile, .menu-mobile{
    position: relative;
    z-index: 1000;
    background-color: var(--cor-verde);
    color: var(--cor-branca);
    padding: 12px 6px;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
}


#menu-mobile{
    color: var(--cor-verde);
}

#menu-icon{
    color: var(--cor-branca);
    margin-left: 20px;
    font-size: 24px;
}

.menu-mobile{
    display: none;
}
 
.menu-mobile-active{
    position: absolute;
    width: 70vw;
    min-height: 100vh;
    background-color: var(--cor-verde);
    color: var(--cor-branc);
    top: 0;
    z-index: 1000;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}

.itens{
    margin: 0 auto;
    width: 90%;
}

span{
    display: flex;
    align-items: center;
}


.menu-mobile-active button{
    padding: .8rem;
    border-radius: .2rem;
    width: 100%;
}

.menu-mobile-active button:hover{
    background-color: var(--cor-branca);
    color: var(--cor-verde);
}

.menu-mobile-active button:hover i, .menu-mobile-active button:hover #referPage{
    color: var(--cor-verde);
}

.menu-mobile-active button{
    background: transparent;
    border: 0;
}

.mobile-text{
    font-size: 1rem;
}

.close-button #ref-mobile i{
    font-size: 24px;
    top: 0;
}


/*Responsive Sidebar*/

@media (min-width: 0px) and (max-width: 768px){
    .sidebar{
        display: none;
    }
}

@media (min-width: 769px){
    .menu-mobile, .button-mobile{
        display: none;
    }
}


/*Conteúdo principal*/

main{
    position: relative;
    background-color: var(--cor-background);
    width: 80%;
    left: 20%;
    min-height: 100vw;
    position: absolute;
}

header{
    font-size: .8rem;
    color: var(--cor-verde);
    text-align: center;
    margin: 2rem;
    font-size: .8rem;
}

#cadastro-de-servicos{
    max-width: 60%;
    margin: auto;
    background: var(--cor-branca);
    padding: 2.3rem 0.5rem;
    border-radius: 0.3rem;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.25);
}
 
.form-input{
    margin: 0 2.5rem 1.2rem 2rem;
}
 
.form-input-size, textarea{
    display: block;
    width: 100%;
    height: 1.5rem;
    padding: 1rem 0.4rem;
    border-radius: 0.1rem;
    outline: 0;
    border: 1px solid #959595;
    margin-top: 0.4rem;  
}

#dropdown{
  height: 3.5rem;
  border: 1px solid #959595;
}


textarea{
    min-height: 6rem;
}
   
#submit{
    width: 100%;
    padding: 0.6rem;
    background: linear-gradient(90deg, #007366 0%, #19A797 100%);
    color: white;
    border-radius: 0.1rem;
    cursor: pointer;
    border: none;
}


/*Responsive form*/

@media (min-width: 0px) and (max-width: 768px){

    #cadastro-de-servicos{
        max-width: 90%;
        margin: auto;
        background: var(--cor-branca);
        padding: 2.3rem 0.5rem;
        border-radius: 0.3rem;
        box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.25);
    }

    main{
        position: relative;

        width: 100%;
        left: 0;
        min-height: 100vw;
        position: absolute;
    }

    header{
        margin: 4rem;
        margin-bottom: 1rem;
    }
    
}

  














